.app {
  display: flex;
  height: 100vh;
  font-family: Arial;
}

/* Sidebar */
.sidebar {
  width: 280px;
  background: #111827;
  color: white;
  padding: 10px;
}

.newBtn {
  width: 100%;
  padding: 10px;
  background: #22c55e;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

.chatItem {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #333;
}

.chatItem:hover {
  background: #1f2937;
}

.active {
  background: #374151;
}

/* Chat */
.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.user {
  text-align: right;
  margin: 10px;
  background: #dcfce7;
  padding: 10px;
  border-radius: 10px;
}

.ai {
  text-align: left;
  margin: 10px;
  background: #e5e7eb;
  padding: 10px;
  border-radius: 10px;
}

.typing {
  font-style: italic;
  color: gray;
}

/* Input */
.inputBox {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}

input {
  flex: 1;
  padding: 12px;
}

button {
  padding: 12px 20px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}