.app {
  display: flex;
  height: 100vh;
  font-family: Arial;
  background: #f5f5f5;
}

/* SIDEBAR */
.sidebar {
  width: 280px;
  background: #111827;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  color: white;
}

.new {
  background: #22c55e;
}

.theme {
  background: #374151;
}

.item {
  padding: 10px;
  border-bottom: 1px solid #333;
  cursor: pointer;
}

.item:hover {
  background: #1f2937;
}

.active {
  background: #374151;
}

/* CHAT */
.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.user {
  text-align: right;
  background: #dcfce7;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.ai {
  text-align: left;
  background: #e5e7eb;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.typing {
  font-style: italic;
  color: gray;
}

.inputBox {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}

input {
  flex: 1;
  padding: 12px;
}

button {
  padding: 12px 20px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

/* DARK MODE */
.dark {
  background: #0b0f19;
  color: white;
}

.dark .sidebar {
  background: #0f172a;
}

.dark .chat {
  background: #0b0f19;
}

.dark .user {
  background: #1f2937;
  color: white;
}

.dark .ai {
  background: #111827;
  color: #e5e7eb;
}

.dark input {
  background: #111827;
  color: white;
  border: 1px solid #333;
}